main h2, main p {
    text-align: center;
}
/* gérer les images */
main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main div div {
    width: 100%;
}
main div img {
    max-width: 45%;
    margin: 4px;
}

/* ----- agrandir les image quand cliqué ----- */
/* form invisible normalement */
form {
    display: none;
}
/* l'image cliquée */
.agrandie {
    max-width: 100%;
    height: 95%;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}
/* le fond en noir */
.active {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}
/* visible si clic */
.agrandie ~ form {
    display: inline;
}
/* le bouton si clic */
.closebutton {
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}