article {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-inline: 5px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main img {
  border-radius: 10px;
  max-width: 100%;
  margin: 2px;
}

