/* ----- fondu couleur ----- */
header {
    margin-bottom: 0;
}
h1 {
    padding-top: 20px;
    background: linear-gradient(#20993a, #fff, #fff, #fff, #fff, #fff);
}
/* ---------- main ---------- */
h2 {
    text-align: center;
    margin: 25px;
}
main section img {
    max-width: 45%;
}
/* section 1 */
 main section > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
main section > div > img:last-child {
    align-self: center;
}
/* section 2 */
section:last-child > div {
    display: grid;
    grid-template-columns: repeat(3, 30%);
}
section:last-child div div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section:last-child img {
    min-width: 100%;
}
section:last-child h2 {
    border-top: 2px #20993a dotted;
    margin-top: 40px;
}