/* ---------- main ---------- */
main {
    margin: 0px 10px;
}
/* ----- section 1 ----- */
h1 + section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1 + section img {
    max-width: 100%;
}
h1 + section p {
    margin: 0px;
}
h3 {
    margin-top: 20px;
}
/* ----- section 2 ----- */
section:nth-child(3) {
    margin: 30px 0px;
    padding: 10px 0px;
    text-align: center;
    border-top: 2px green dotted;   
    border-bottom: 2px green dotted;
}
section:nth-child(3) h3:nth-child(2) {
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(10deg ,#ca21e0, #81adff);
}
section:nth-child(3) h3:nth-child(2):active {
    transform: scale(1.10);
}
section:nth-child(3) h3:nth-child(2):hover {
    cursor: pointer;
}
/* ----- section 3 ----- */
section:nth-child(4) > article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 25px 0px;
    padding: 0px;
}
section:nth-child(4) img {
    max-width: 30%;
    margin: 10px;
}
.texte-cote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* alignement vertical */
@media screen and (max-width: 768px){
    section:nth-child(4) article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section:nth-child(4) img {
        max-width: 40%;
    }
}