/* ---------- main ---------- */
main {
    margin: 0px 10px;
}
/* ----- section 1 ----- */
h1 + section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h1 + section img {
    max-width: 100%;
}
h1 + section p {
    margin: 0px;
}
h3 {
    margin-top: 20px;
}
/* ----- section 3 ----- */
section:last-child > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 25px 0px;
    padding: 0px;
}
section:last-child img {
    max-width: 55%;
    margin: 10px;
}
.texte-cote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* alignement vertical */
@media screen and (max-width: 768px){
    section:last-child > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section:last-child img {
        max-width: 80%;
    }
}