* {
    margin : 0;
    font-family: "Happy Monkey", system-ui;
    font-style: normal;
}

h1 {
    text-align: center;
    text-shadow: #569528 2px 2px 2px;
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 40px;
}

p, a {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 18px;
}

.vert{
    color: #569528;
}

header {
    background: #20993a;
    padding: 25px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

header img {    
    border-radius: 10px;
    height: 80px;
}

header img a {
    height: 80px;
}

nav {
    margin: auto;
}

nav ul {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding-inline: 20px;
  padding-block: 5px;
  background: #54b850;
  border-radius: 10px;
}

nav a:hover {
    background: #187c15;
    color: #ffffff;
}

.self {
    color: black;
    background: #ffffff;
}

footer {
    background: linear-gradient(10deg, #20993a, #6e8373);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px  30px;
    margin-top: 50px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    width: 60px;
}

@media screen and (max-width : 668px) {
  header img {
    height: 50px;
  }
}

@media screen and (max-width : 560px) {
  header a {
    font-size: 16px;
  }
}

@media screen and (max-width : 536px) {
  header {
    justify-content: center;
    flex-wrap: wrap;
  }

  nav {
    justify-content: center;
  }

  header img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width : 450px) {
    footer p, footer a {
        font-size: 12px;
    }
  
    footer img {
    width: 30px;
  }
}

@media screen and (max-width : 340px) {
  h1 {
    font-size: 40px;
  }
}

