/* ----- texte ----- */
h2, main p, label,form div:last-child input {
  color: #fff;
}
h2 {
  text-align: center;
  margin-bottom: 15px;
}
/* ----- main ----- */
main > div {
  display: flex;
  gap: 150px;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}
article {
  background: #277c3c;
  padding: 20px 30px;
  border-radius: 20px;
  width: 400px;
  margin-bottom: 50px;
}
section:first-child {
  margin-bottom: 25px;
}

@media screen and (max-width : 1100px) {
  
  main > div {
    gap: 50px;
  }
  article {
    margin-inline: 10px;
    margin-bottom: 0px;
  }
}
@media screen and (max-width : 465px) {
  article{
    padding: 20px 15px;
  }
}
/* -- form -- */
form {
  width: 320px;
  margin: auto;
  margin-top: 25px;
}
form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
input, textarea {
border-radius: 4px;
border: 0px;
}
/* boutton soumettre */
form div:last-child input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  background: #4ab360;
  margin-top: 10px;
}
form div:last-child input:hover {
  background: #6fbe41;
  cursor: pointer;
}

/* media pour main et form */
@media screen and (max-width : 450px) {
  article {
    width: 350px;
  }
  form {
    width: 300px;
  }
}
@media screen and (max-width : 410px) {
  article {
    width: 250px;
  }
  form {
    width: 200px;
    margin: auto;
  }
  form div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  input, textarea {
    width: 100%;
  }
}