/* Sous-titres */
h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* ---------- main ---------- */
section {
  padding: 20px;
  border: 2px solid #a1a1a1;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 5% 20px;
}

section div {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* image */
main img {
  width: 120px;
  max-width: 60%;
}

/* qté et prix */
section p:last-child {
  font-weight: bold;
}

form div {
  display: flex;
  justify-content: end;
}

/* espace entre le noombre de personnes et la quantité */
form div:first-child {
  margin-bottom: 10px;
}

/* nb personnes / quantité */
input {
  width: 35px;
}

form ~ p {
  width: fit-content;
  margin-inline:  10px 5px;
}

/* prix total */
section ~ p {
  justify-self: end;
  margin-right: 5%;
}

/* liens en dessous */
article > div:last-child {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}

/* liens */
main a {
  color: #ffffff;
  text-decoration: none;
  background: #20993a;
  padding: 10px;
  border-radius: 4px;
}

/* lorsque les liens sont survolés */
main a:hover {
  background: #19b326;
}

@media screen and (max-width : 615px) {

  section > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

@media screen and (max-width : 540px) {

  section {
    display: flex;
    flex-direction: column;
  }

  form {
    margin-top: 10px;
  }

  section div {
    justify-content: end;
  }
}

@media screen and (max-width : 450px) {

  article > div:last-child {
    gap: 20px;
  }
}

@media screen and (max-width : 425px) {

  section > div:last-child {
    flex-direction: column;
  }
}

@media screen and (max-width : 390px) {

  article > div {
    margin-inline: 10px;
    flex-wrap: wrap;
  }
}

