h2 {
  text-align: center;
  margin-bottom: 15px;
}

section {
  padding: 20px;
  border: 2px solid #a1a1a1;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 5%;
  margin-bottom: 20px;
}

section div {
  display: flex;
  gap: 10px;
  align-items: center;
}

section p:last-child {
  font-weight: bold;
}

input {
  width: 50px;
}

main img {
  width: 120px;
}

#total {
  justify-self: end;
  margin-right: 5%;
}

article > div:last-child {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

main a {
  color: #ffffff;
  text-decoration: none;
  background: #20993a;
  padding: 10px;
  border-radius: 4px;
}

main a:hover {
  background: #19b326;
}

@media screen and (max-width : 450px) {
  article > div:last-child {
    gap: 20px;
  }

  main img {
    width: 100px;
  }
}

@media screen and (max-width : 425px) {
  section div:last-child {
    flex-direction: column;
  }
}

@media screen and (max-width : 395px) {
  main div:last-child {
    flex-wrap: wrap;
  }
}

