* {
  margin : 0;
  font-family: "Quicksand", sans-serif;
}

html {
  height: 100%;
}

body {
  background: #bfe2b8;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 40px;
}

p, a, label, input, textarea, button {
  font-size: 18px;
}

.vert{
  color: #569528;
}

header {
  background: #20993a;
  padding: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

header div {
  display: flex;
  align-items: center;
}

header div a {
  height: 80px;
}

header img {    
  border-radius: 10px;
  height: 80px;
}

nav {
  margin: auto;
}

nav ul {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding-inline: 20px;
  padding-block: 5px;
  background: #54b850;
  border-radius: 10px;
}

nav a:hover {
  background: #187c15;
  color: #ffffff;
}

.self {
  color: black;
  background: #ffffff;
}

main img {
  border-radius: 10px;
  max-width: 100%;
}

main img:hover {
  cursor: zoom-in;
}

.imgborder {
  border: 1px black solid;
}

footer {
  background: #20993a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-top: 50px;
}

footer > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer > div:last-child {
  display: flex;
  gap: 15px;
}

footer img {
  width: 60px;
}

@media screen and (max-width : 668px) {
  header img {
    height: 50px;
  }
}

@media screen and (max-width : 560px) {
  header a {
    font-size: 16px;
  }
}

@media screen and (max-width : 536px) {
  header {
    justify-content: center;
    flex-wrap: wrap;
  }

  nav {
    justify-content: center;
  }

  header img {
    margin-bottom: 20px;
  }
}

@media screen and (max-width : 500px) {
  footer p, footer a {
    font-size: 12px;
  }

  footer > div:last-child {
    gap: 5px;
  }

  footer img {
  width: 30px;
  }
}

@media screen and (max-width : 340px) {
  h1 {
    font-size: 40px;
  }
}

/* ----- agrandir les images quand cliquées ----- */
/* image invisible normalement */
.hidden {
  display: none;
}
/* visible */
.shown {
  display: inline-block;
}
/* le fond en noir */
.fond {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* l'image cliquée */
.agrandie {
  max-width: 80%;
  height: 75%;
  margin: auto;
  z-index: 2;
  border: 1px white solid;
}
/* le bouton si clic */
.closebutton {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 3;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}
@media screen and (max-width: 768px) {
  .agrandie {
    height: auto;
  }
}
