/* général */
.vert{
    color: #81c94c;
}
/* header */
/* header div{
    display: flex;
    align-items: center;
    gap: 100px;
} */
h1{
    text-align: center;
    margin: auto 0px;
    display: inline;
}
header a img{
    width: 15%;
    border: red 5px solid;
    display: inline;
}

