/* ---------- main ---------- */
/* contient les articles */
.content {
  display: flex;
  gap: 150px;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

/* style des 2 articles */
article {
  background: #277c3c;
  padding: 20px 30px;
  border-radius: 20px;
  width: 400px;
  margin-bottom: 50px;
}

/* sous-titres */
h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}

/* textes */
main p {
  color: #ffffff;
}

/* marges pour sections */
section:first-child, section:nth-child(2) {
  margin-bottom: 25px;
}

/* lien vers la page mariages.net */
section a {
  text-decoration: none;
  color: #77db3d;
}

/* lorsque l'on survole le lien vers la page mariages.net */
section a:hover {
  color: #ffffff;
}

/* formulaire */
form {
  width: 320px;
  margin: auto;
  margin-top: 25px;
}

/*chaque ligne du formulaire */
form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* espace entre chaque ligne*/
label {
  line-height: 1.3;
  color: #ffffff;
}

/* champs et zone de texte */
input, textarea {
border-radius: 4px;
border: 0px;
}

/* bouton d'envoi du formulaire */
.submit {
width: 100%;
height: 40px;
font-size: 18px;
background: #4ab360;
color: #ffffff;
margin-top: 10px;
}

/* lorsque le bouton d'envoi du formulaire est survolé */
.submit:hover {
  background: #6fbe41;
  cursor: pointer;
}


/* adapte la taille et la disposition des articles en fonction des dimensions de l'écran */
@media screen and (max-width : 1100px) {
  
  .content {
    gap: 50px;
  }

  article:first-child {
    margin-bottom: 0px;
  }

  article:last-child {
    margin-bottom: 0px;
  }

  article {
    margin-inline: 10px;
  }
}

@media screen and (max-width : 480px) {
  
  article{
  padding: 20px 20px;
  }
}

@media screen and (max-width : 465px) {
  
  article{
  padding: 20px 15px;
  }
}

@media screen and (max-width : 450px) {

  article {
    width: 350px;
  }

  form {
    width: 300px;
  }
}

@media screen and (max-width : 410px) {
  
  article {
    width: 250px;
  }

  form {
    width: 200px;
    margin: auto;
  }

  form div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  input, textarea {
    width: 100%;
  }
}

