/* ----- main ----- */
main div {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
/* images (logos) */
main img {
  height: 180px;
}main img:hover {
  cursor: default;
}

@media screen and (max-width : 470px) {
  main img {
    height: 150px;
  }
}
@media screen and (max-width : 400px) {
  main img {
    height: 100px;
  }
}