/* ---------- main ---------- */
h2 {
    text-align: center;
    margin: 25px;
}
main section img {
    max-width: 45%;
}
/* section 1 */
 main section > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
main section > div > img:last-child {
    align-self: center;
}
/* section 2 */
section:nth-child(3) div div {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section:nth-child(3) img {
    min-width: 100%;
}
section:nth-child(3) h2 {
    border-top: 2px #20993a dotted;
    margin-top: 40px;
}

/* agrandir l'image quand cliqué */
form {
    display: none;
}
.agrandie {
    max-width: 80%;
    height: 95%;
    position: fixed;
    bottom: 0px;
    border: 800px solid rgba(1, 1, 1, 0.65);    
    border-bottom: 20px solid rgba(1, 1, 1, 0.65);
}
.agrandie ~ form {
    display: inline;
}
.closebutton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 60px;
}